{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>API Axmed</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container my-5">
      <div class="text-center">
        <h1 class="mt-4">API Axmed</h1>
        <p class="lead">API created by Óscar Arauz</p>
      </div>

      <hr />

      <h2 class="my-4">Principal Endpoints</h2>
      <ul class="list-group">
        <li class="list-group-item"><a href="/admin/">Admin</a></li>
        <li class="list-group-item"><a href="/redoc/">Redoc</a></li>
        <li class="list-group-item"><a href="/swagger/">Swagger</a></li>
        <li class="list-group-item">
          <a href="http://localhost:3000/login/">Grafana</a>
        </li>
        <li class="list-group-item">
          <a href="http://localhost:9090">Prometheus</a>
        </li>
      </ul>

      <hr />

      <div class="my-4">
        <p>
            For more information on how to use this API, please
            visit our <a href="/swagger/">API documentation</a>.
        </p>
        <div class="text-center">
          <a href="/swagger/">
            
          </a>
        </div>
      </div>
    </div>
  </body>
</html>